APP_ENV=autotest
NODE_ENV=test
PORT=3001

DATABASE_URL=mongodb+srv://user:pass@cluster0.xxxxx.mongodb.net/rcf_print_autotest?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET_KEY=secret_khusus_autotest
JWT_EXPIRES_IN=1d

FRONTEND_URL=http://localhost:5173

OTP_EXPIRES_MINUTES=10
RESET_TOKEN_EXPIRES_MINUTES=60
